In [11]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table,Column,Integer,String
import glob
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [12]:
engine=create_engine('sqlite:///new.sqlite',echo=False)

In [13]:
Session=sessionmaker(bind=engine)
session=Session()

In [14]:
Base=declarative_base()

#Create a metadata instance
#A metadata is an object container that will store attributes and name of table 
metadata=MetaData(engine)

#Define structure of table
class product_table(object):
    def __init__(self,number,description,ref_des):
        self.product_id=product_id
        self.station=station
        self.time=time
        self.result=result
        self.employee_id=employee_id
    
    def __repr__(self):
        return f'{self.product_id,self.station,self.time,self.result,self.employee_id}'

In [15]:
def table_definition(table_name):
    #Define table structure, here table_name varies
    #We want to make table_define available outside function so we declare it as a function attribute
    table_definition.table_define=Table(table_name,metadata,
    Column('id',Integer,primary_key=True),
    Column('product_id',String),
    Column('station',String),
    Column('time',String),
    Column('result',String),
    Column('employee_id',String)
    )
    
    #Create table
    #Note that we used the engine from function
    metadata.create_all(engine)
    
    #Use mapper to define components of class as well as table definition together at once
    mapper(product_table,table_definition.table_define,non_primary=True)

In [16]:
table_define_dummy=Table('dummy_table',metadata,
Column('id',Integer,primary_key=True),
Column('product_id',String),
Column('station',String),
Column('time',String),
Column('result',String),
Column('employee_id',String)
)

#Create table
metadata.create_all(engine)

#Use mapper to define components of class as well as table definition together at once
mapper(product_table,table_define_dummy)

In [19]:
df=pd.read_csv('phd.csv')

In [18]:
metadata.create_all(engine)

#Use mapper to define components of class as well as table definition together at once
mapper(product_table,table_define_dummy)

#This function will create a separate table for each csv file, if you have multiple csv files
#Name of table will be extracted from file name. File name contains product name. 
#Each table will be identified by product name
# It will read each excel file in the folder and insert bom into table
def create_table(folder_of_files):
    
    #Get list of files in folder
    files=glob.glob(os.path.join(folder_of_files,"*.csv"))
    
    
    #Loop through all files in list
    for file_name in files:
        
        #Read file into dataframe
        csv_data=pd.read_csv(file_name)
        
        #Convert dataframe to list and store in same variable
        csv_data=csv_data.values.tolist()
        
        #Get table name from file name. This will be our table name. 
        table_name_from_file=file_name.split('/')[8][:-4]
        
        
        #Use table_definition function to define table structure
        table_definition(table_name_from_file)
        
        #Loop through list of lists, each list in create_bom_table.xls_data is a row
        for row in csv_data:
            
            #Each element in the list is an attribute for the table class
            #Iterating through rows and inserting into table
            ins=table_definition.table_define.insert().values(
            product_id=row[0],station=row[1],time=row[2],result=row[3],employee_id=row[4])
            conn=engine.connect()
            conn.execute(ins)
            

#Calling function, argument is path of folder where all CSV files are stored
create_table("path of folder where csv files are stored")

ArgumentError: Class '<class '__main__.product_table'>' already has a primary mapper defined. Use non_primary=True to create a non primary Mapper.  clear_mappers() will remove *all* current mappers from all classes.

In [22]:
df.head

<bound method NDFrame.head of    S.No.  View Application Ref. No. Submission Date Payment Status    Fee  \
0      1  View    IITKPG2¥Ph.D¥EE¥1        25/10/19       Complete  400.0
1      2  View    IITKPG2¥Ph.D¥EE¥2       3/10/2019       Complete  400.0
2      3  View    IITKPG2¥Ph.D¥EE¥3        18/10/19       Complete  200.0
3      4  View    IITKPG2¥Ph.D¥EE¥4       3/10/2019       Complete  400.0
4      5  View    IITKPG2¥Ph.D¥EE¥5       3/10/2019       Complete  400.0
5      6  View    IITKPG2¥Ph.D¥EE¥6       3/10/2019       Complete  400.0
6      7  View    IITKPG2¥Ph.D¥EE¥7       9/10/2019       Complete  400.0
7      8  View    IITKPG2¥Ph.D¥EE¥8        30/10/19       Complete  400.0
8      9  View    IITKPG2¥Ph.D¥EE¥9       4/10/2019     Incomplete    NaN
9     10  View   IITKPG2¥Ph.D¥EE¥10        26/10/19       Complete  200.0

   Payment Date   Name  Gender       DOB  ... PE 2 Percentage PE 2 Rank  \
0           NaN   vbn1    Male  21/11/94  ...            74.0       NaN
1           NaN   vbn2    Male  18/10/93  ...            55.0       NaN
2           NaN   vbn3    Male  21/11/95  ...            70.8       NaN
3           NaN   vbn4  Female  18/10/94  ...            75.4       NaN
4           NaN   vbn5    Male  21/11/96  ...            57.8       NaN
5           NaN   vbn6  Female  18/10/95  ...            74.0       NaN
6           NaN   vbn7    Male  21/11/95  ...            75.4       NaN
7           NaN   vbn8    Male  18/10/94  ...            57.8       NaN
8           NaN   vbn9    Male  21/11/96  ...            74.0       NaN
9           NaN  vbn10    Male  18/10/95  ...            57.8       NaN

                                     PE 3 Degree  PE 3 Year  \
0                               Bachelors Degree     2016.0
1                        Secondary or equivalent     2010.0
2                                            NaN        NaN
3                               Bachelors Degree     2015.0
4  BE/BTech - Bachelor of Engineering/Technology     2016.0
5                               Bachelors Degree     2012.0
6                               Bachelors Degree     2002.0
7  BE/BTech - Bachelor of Engineering/Technology     2016.0
8                               Bachelors Degree     2017.0
9                               Bachelors Degree     2014.0

                             PE 3 Board / University  \
0  MAULANA ABUL KALAM AZAD UNIVERSITY OF TECHNOLO...
1                                               CBSE
2                                                NaN
3                                                SOA
4                          IGIT Sarang / BPUT Orissa
5                                              MJPRU
6  UNIVERSITY OF MADRAS / SRI VENKATESWARA COLLEG...
7                                                AMU
8                                     SRMCEM LUCKNOW
9                    Uttrakhand Technical University

                                       PE 3 Subjects  PE 3 Score  \
0                             ELECTRICAL ENGINEERING        8.32
1  ENGLISH COMM., HINDI COURSE-A, MATHEMATICS, SC...        8.15
2                                                NaN        7.89
3                                                 EE     3421.00
4                             Electrical Engineering        8.50
5                             Electrical Engineering        8.32
6             ELECTRICAL AND ELECTRONICS ENGINEERING        8.15
7                             ELECTRICAL ENGINEERING        7.89
8                             ELECTRICAL ENGINEERING     3421.00
9                                                ECE        8.50

  PE 3 Max Score PE 3 Percentage PE 3 Rank
0             10           80.00       NaN
1             10           81.50       NaN
2             10           71.40       NaN
3           4700           72.79       NaN
4             10           85.00       NaN
5             10           80.00       NaN
6             10           81.50       NaN
7             10           71.40       NaN
8           4700           72.79       NaN
9             10           85.00       NaN

[10 rows x 125 columns]>