In [4]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('site.db') 

c = conn.cursor()
c.close()
conn.close()
df=pd.read_csv('mtech.csv')
c.execute('''DROP TABLE mtech;''')
df.to_sql(name='mtech', con=conn, if_exists = 'replace', index=False)

ProgrammingError: Cannot operate on a closed cursor.

In [ ]:
c.execute('''ALTER TABLE mtech ADD Validation TEXT''')
c.execute('''ALTER TABLE mtech ADD Comment TEXT''')
c.execute('''ALTER TABLE mtech ADD Submission TEXT''')
c.execute('''ALTER TABLE mtech ADD Tutor_name TEXT alloc_status''')
c.execute('''ALTER TABLE mtech ADD alloc_status TEXT''')
c.execute('''ALTER TABLE mtech RENAME TO mtech_old;''')
c.execute('''
    CREATE TABLE mtech (
        "S.No." BIGINT,
        "View" TEXT,
        "Application Ref. No." TEXT  PRIMARY KEY UNIQUE,
        "Submission Date" TEXT,
        "Payment Status" TEXT,
        "Fee" FLOAT,
        "Payment Date" FLOAT,
        "Name" TEXT,
        "Gender" TEXT,
        "DOB" TEXT,
        "Nationality" TEXT,
        "Category" TEXT,
        "PwD?" TEXT,
        "Marital Status" FLOAT,
        "Email" TEXT,
        "Alt. Email" TEXT,
        "Mobile" BIGINT,
        "Father's Name" TEXT,
        "Mother's Name" TEXT,
        "Parent Email Id" FLOAT,
        "Aadhaar Number" FLOAT,
        "Permanent Address" TEXT,
        "Degree Status" TEXT,
        "Programme" TEXT,
        "Department" TEXT,
        "Preference 1" TEXT,
        "Preference 2" TEXT,
        "Preference 3" TEXT,
        "Phd area of research" FLOAT,
        "Institute Assistantship" TEXT,
        "Finance Method" FLOAT,
        "Finance Details" FLOAT,
        "GATE 2019 Reg ID" TEXT,
        "GATE 2019 Discipline" TEXT,
        "GATE 2019 Score" BIGINT,
        "GATE 2019 Rank" BIGINT,
        "GATE 2018 Reg ID" FLOAT,
        "GATE 2018 Discipline" FLOAT,
        "GATE 2018 Score" FLOAT,
        "GATE 2018 Rank" FLOAT,
        "GATE 2017 Reg ID" FLOAT,
        "GATE 2017 Discipline" FLOAT,
        "GATE 2017 Score" FLOAT,
        "GATE 2017 Rank" FLOAT,
        "Other 1 Roll No./ Reg ID" FLOAT,
        "Other 1 Score" FLOAT,
        "Other 1 Max Score" FLOAT,
        "Other 1 Valid Upto" FLOAT,
        "Other 1 Test Name" FLOAT,
        "Other 1 Test Year" FLOAT,
        "Other 1 Discipline" FLOAT,
        "Other 1 Rank" FLOAT,
        "Percentile" FLOAT,
        "Quantitative Aptitude Percentile" FLOAT,
        "Data Integration & Logical Reasoning Percentile" FLOAT,
        "Verbal & Reading Comprehension Percentile" FLOAT,
        "Other 2 Roll No./ Reg ID" FLOAT,
        "Other 2 Score" FLOAT,
        "Other 2 Max Score" FLOAT,
        "Other 2 Valid Upto" FLOAT,
        "Other 2 Test Name" FLOAT,
        "Other 2 Test Year" FLOAT,
        "Other 2 Discipline" FLOAT,
        "Other 2 Rank" FLOAT,
        "Qualifying Degree" TEXT,
        "Qualifying Discipline" TEXT,
        "University Name" TEXT,
        "University City" TEXT,
        "University Country" TEXT,
        "Institute Name" TEXT,
        "Year of Admission" BIGINT,
        "Year of Completion" BIGINT,
        "Duration" BIGINT,
        "Status" TEXT,
        "Rank" TEXT,
        "Evaluation Pattern" TEXT,
        "Evaluation Method" TEXT,
        "Marks Obtained" FLOAT,
        "Maximum Marks" FLOAT,
        "Percentage" TEXT,
        "Total Experience" FLOAT,
        "Experience 1 Organization" TEXT,
        "Experience 1 Designation" TEXT,
        "Experience 1 From" TEXT,
        "Experience 1 To" TEXT,
        "Experience 1 Roles & Responsibility" TEXT,
        "Experience 1 Total Pay" TEXT,
        "No. of Papers" FLOAT,
        "No. of Papers in Conference" FLOAT,
        "No. of Papers in Conf Not published" FLOAT,
        "No. of Book Chapters" FLOAT,
        "Referee 1 Name" FLOAT,
        "Referee 1 Organization" FLOAT,
        "Referee 1 Email" FLOAT,
        "Referee 1 Phone" FLOAT,
        "Referee 1 Address" FLOAT,
        "Referee 2 Name" FLOAT,
        "Referee 2 Organization" FLOAT,
        "Referee 2 Email" FLOAT,
        "Referee 2 Phone" FLOAT,
        "Referee 2 Address" FLOAT,
        "PE 1 Degree" TEXT,
        "PE 1 Year" FLOAT,
        "PE 1 Board / University" TEXT,
        "PE 1 Subjects" TEXT,
        "PE 1 Score" FLOAT,
        "PE 1 Max Score" FLOAT,
        "PE 1 Percentage" FLOAT,
        "PE 1 Rank" FLOAT,
        "PE 2 Degree" TEXT,
        "PE 2 Year" FLOAT,
        "PE 2 Board / University" TEXT,
        "PE 2 Subjects" TEXT,
        "PE 2 Score" FLOAT,
        "PE 2 Max Score" FLOAT,
        "PE 2 Percentage" FLOAT,
        "PE 2 Rank" FLOAT,
        "PE 3 Degree" TEXT,
        "PE 3 Year" FLOAT,
        "PE 3 Board / University" TEXT,
        "PE 3 Subjects" TEXT,
        "PE 3 Score" FLOAT,
        "PE 3 Max Score" FLOAT,
        "PE 3 Percentage" FLOAT,
        "PE 3 Rank" FLOAT,
        Validation TEXT,
        Submission TEXT,
        alloc_status TEXT,
        Comment TEXT,
        Tutor_name TEXT,
        test INTEGER
);
''')
c.execute('''INSERT INTO mtech SELECT * FROM mtech_old;''')
c.execute('''DROP TABLE mtech_old;''')
conn.commit()

In [6]:
t=c.execute('''PRAGMA table_info('mtech') ''').fetchall()

In [76]:
t=set(df.columns)
t.remove('Application Ref. No.')

s=list(t)
# for i in s:
#     print(i)
    
s[123]

'Verbal & Reading Comprehension Percentile'

In [54]:
res = [list(ele) for ele in t] 
# for j in res:
#     if j[1]=='Application Ref. No.' or j[1]=='Application No.' or j[1]=='Application':
#         j[1]=j[1]+' PRIMARY KEY UNIQUE'
#     print(j[1], end =" ")
#     print(j[2])

In [58]:
for j in res:
    j[1]=j[1]+" "+j[2]+","
    if j[1]=='Application Ref. No. TEXT,' or j[1]=='Application No. TEXT,' or j[1]=='Application TEXT,':
        j[1]=j[1]+' PRIMARY KEY UNIQUE'

In [35]:
test=[(k[1],k[2]) for k in res]

In [36]:
for i in test:
    print(i)

('S.No.', 'BIGINT')
('View', 'TEXT')
('Application Ref. No. PRIMARY KEY UNIQUE', 'TEXT')
('Submission Date', 'TEXT')
('Payment Status', 'TEXT')
('Fee', 'FLOAT')
('Payment Date', 'FLOAT')
('Name', 'TEXT')
('Gender', 'TEXT')
('DOB', 'TEXT')
('Nationality', 'TEXT')
('Category', 'TEXT')
('PwD?', 'TEXT')
('Marital Status', 'FLOAT')
('Email', 'TEXT')
('Alt. Email', 'TEXT')
('Mobile', 'BIGINT')
("Father's Name", 'TEXT')
("Mother's Name", 'TEXT')
('Parent Email Id', 'FLOAT')
('Aadhaar Number', 'FLOAT')
('Permanent Address', 'TEXT')
('Degree Status', 'TEXT')
('Programme', 'TEXT')
('Department', 'TEXT')
('Preference 1', 'TEXT')
('Preference 2', 'TEXT')
('Preference 3', 'TEXT')
('Phd area of research', 'FLOAT')
('Institute Assistantship', 'TEXT')
('Finance Method', 'FLOAT')
('Finance Details', 'FLOAT')
('GATE 2019 Reg ID', 'TEXT')
('GATE 2019 Discipline', 'TEXT')
('GATE 2019 Score', 'BIGINT')
('GATE 2019 Rank', 'BIGINT')
('GATE 2018 Reg ID', 'FLOAT')
('GATE 2018 Discipline', 'FLOAT')
('GATE 2018 Score', 'FLOAT')
('GATE 2018 Rank', 'FLOAT')
('GATE 2017 Reg ID', 'FLOAT')
('GATE 2017 Discipline', 'FLOAT')
('GATE 2017 Score', 'FLOAT')
('GATE 2017 Rank', 'FLOAT')
('Other 1 Roll No./ Reg ID', 'FLOAT')
('Other 1 Score', 'FLOAT')
('Other 1 Max Score', 'FLOAT')
('Other 1 Valid Upto', 'FLOAT')
('Other 1 Test Name', 'FLOAT')
('Other 1 Test Year', 'FLOAT')
('Other 1 Discipline', 'FLOAT')
('Other 1 Rank', 'FLOAT')
('Percentile', 'FLOAT')
('Quantitative Aptitude Percentile', 'FLOAT')
('Data Integration & Logical Reasoning Percentile', 'FLOAT')
('Verbal & Reading Comprehension Percentile', 'FLOAT')
('Other 2 Roll No./ Reg ID', 'FLOAT')
('Other 2 Score', 'FLOAT')
('Other 2 Max Score', 'FLOAT')
('Other 2 Valid Upto', 'FLOAT')
('Other 2 Test Name', 'FLOAT')
('Other 2 Test Year', 'FLOAT')
('Other 2 Discipline', 'FLOAT')
('Other 2 Rank', 'FLOAT')
('Qualifying Degree', 'TEXT')
('Qualifying Discipline', 'TEXT')
('University Name', 'TEXT')
('University City', 'TEXT')
('University Country', 'TEXT')
('Institute Name', 'TEXT')
('Year of Admission', 'BIGINT')
('Year of Completion', 'BIGINT')
('Duration', 'BIGINT')
('Status', 'TEXT')
('Rank', 'TEXT')
('Evaluation Pattern', 'TEXT')
('Evaluation Method', 'TEXT')
('Marks Obtained', 'FLOAT')
('Maximum Marks', 'FLOAT')
('Percentage', 'TEXT')
('Total Experience', 'FLOAT')
('Experience 1 Organization', 'TEXT')
('Experience 1 Designation', 'TEXT')
('Experience 1 From', 'TEXT')
('Experience 1 To', 'TEXT')
('Experience 1 Roles & Responsibility', 'TEXT')
('Experience 1 Total Pay', 'TEXT')
('No. of Papers', 'FLOAT')
('No. of Papers in Conference', 'FLOAT')
('No. of Papers in Conf Not published', 'FLOAT')
('No. of Book Chapters', 'FLOAT')
('Referee 1 Name', 'FLOAT')
('Referee 1 Organization', 'FLOAT')
('Referee 1 Email', 'FLOAT')
('Referee 1 Phone', 'FLOAT')
('Referee 1 Address', 'FLOAT')
('Referee 2 Name', 'FLOAT')
('Referee 2 Organization', 'FLOAT')
('Referee 2 Email', 'FLOAT')
('Referee 2 Phone', 'FLOAT')
('Referee 2 Address', 'FLOAT')
('PE 1 Degree', 'TEXT')
('PE 1 Year', 'FLOAT')
('PE 1 Board / University', 'TEXT')
('PE 1 Subjects', 'TEXT')
('PE 1 Score', 'FLOAT')
('PE 1 Max Score', 'FLOAT')
('PE 1 Percentage', 'FLOAT')
('PE 1 Rank', 'FLOAT')
('PE 2 Degree', 'TEXT')
('PE 2 Year', 'FLOAT')
('PE 2 Board / University', 'TEXT')
('PE 2 Subjects', 'TEXT')
('PE 2 Score', 'FLOAT')
('PE 2 Max Score', 'FLOAT')
('PE 2 Percentage', 'FLOAT')
('PE 2 Rank', 'FLOAT')
('PE 3 Degree', 'TEXT')
('PE 3 Year', 'FLOAT')
('PE 3 Board / University', 'TEXT')
('PE 3 Subjects', 'TEXT')
('PE 3 Score', 'FLOAT')
('PE 3 Max Score', 'FLOAT')
('PE 3 Percentage', 'FLOAT')
('PE 3 Rank', 'FLOAT')
('Validation', 'TEXT')
('Submission', 'TEXT')
('alloc_status', 'TEXT')
('Comment', 'TEXT')
('Tutor_name', 'TEXT')
('test', 'INTEGER')